@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
.TheMomWord {
  position: relative;
}
.TheMomWord {
  border: 1px solid black;
  position: absolute;
}