@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply transition-colors duration-200;
}

@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

.startnowBTN{
    border-color: #415d44;
}
@media (max-width: 1040px) {
    .absolute.right-16.bottom-10 {
        display: none;
    }
    .relative {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .TheBigTxt, .tracking-wider, .FindUs {
        margin: 0 auto;
    }
    .FindUs {
        justify-content: center;
        width: 100%;
    }
}